<!-- <h5>Further Course Info</h5> -->
<ul>
    <li>
        <p><a href="https://docs.google.com/document/d/1Tsgxxu3Y-Nsz5zTiyrXpYrNOZ8SabWfLBc4BmFi4eJs/edit?usp=sharing">
            Syllabus
        </a><br><small>Please note that this is a <br>python based course.</small></p>
        <p></p>
    </li>

    <li>
        <p><a href="https://www.amazon.com/Introduction-Probability-Edition-Dimitri-Bertsekas/dp/188652923X/ref=sr_1_1?ie=UTF8&qid=1341418336&sr=8-1&keywords=bertsekas+probability">
            Textbook
        </a><br><small>The textbook is optional <br> but strongly recommended.</small></p>
        <p></p>
    </li>

    <li>
        <p><a href="https://david-dobor.github.io/2033Fall16/TextBook.pdf#page=55">
            Notes
        </a><br><small>Required reading assignments <br>will be based on these notes.<br> Your  textbook itself is <br>based on  the same notes.</small></p>
        <p></p>
    </li>
<!--     <li>
        <p>{{ site.email }}<br><small>Email</small></p>
    </li> -->
</ul>
